<form action="/salas/salas_delete/<%= User._id %>" name="form" method="POST">
<script>

  var r=confirm("¿Eliminar Sala?");
  if (r==true) {
    form.submit();
    window.alert("Sala eliminada exitosamente.");
}
else{
    window.location.href = "/salas/salas_mant";
}

</script>
</form>