<header id="header">
	<nav>
		<div class="container">
			<ul>
			  <li><a class="active" href="#home">Inicio</a></li>
			  <li class="dropdownmio">
			    <a href="javascript:void(0)" class="dropbtnchid">Salas</a>
			    <div class="dropdown-content">
			      <a href="/salas/salas_mant">Gestión de salas</a>
			      <a href="/salas/salas_varias_admin">Lista de salas registradas</a>
			    </div>
			  </li>
			  <li class="dropdownmio">
			    <a href="javascript:void(0)" class="dropbtnchid">Usuarios</a>
			    <div class="dropdown-content">
			      <a href="/usuarios/signup">Gestión de usuarios</a>
			      <a href="#">Lista de usuarios registrados</a>
			    </div>
			  </li>
			  <li><a href="/extras/help">Ayuda</a></li>
			  <div class="row">
			  	<li><a style="float: right;" href="/usuarios/logout">Cerrar Sesión</a></li>
			  </div>
			</ul>
		</div>
	</nav>
</header>