<header id="header">
	<nav>
		<div class="container">
			<ul>
			  <li><a class="active" href="#home">Inicio</a></li>
			  <li class="dropdownmio">
			    <a href="javascript:void(0)" class="dropbtnchid">Monitoreo</a>
			    <div class="dropdown-content">
			      <a href="listarevs">Salas</a>
			      <a href="/salas/salas_varias">Acceder a mi sala</a>
			    </div>
			  </li>
			  <li class="dropdownmio">
			    <a href="javascript:void(0)" class="dropbtnchid">Reportes</a>
			    <div class="dropdown-content">
			      <a href="#">Contables</a>
			      <a href="#">Monitoreo</a>
			      <a href="#">TITO</a>
			    </div>
			  </li>
			  <!--<li><a href="#about">Administración</a></li>-->
			  <!--<li><a class="active" href="#home">Auditoría</a></li>-->
        <!--
			  <li><a href="#news">PDT</a></li>
			  <li><a href="#contact">Misteriosos</a></li>
			  <li><a href="#about">Conteo</a></li>
			  <li><a class="active" href="#home">Contadores</a></li>
			  <li><a href="#news">Player Tracking</a></li>-->
			  <li><a href="#contact">Cambio de estado</a></li>
			  <li><a href="#about">Ayuda</a></li>
        <li><a href="/">Cerrar Sesión</a></li>
			</ul>
		</div>
	</nav>
</header>