	<table style="border:1px solid black">
	  <tr>
	    <th>N°</th>
	    <th>SEGMID</th>
	    <th>Nombre de evento</th>	
	    <th>Estado</th>

	  </tr>

	  <script>
		    window.setInterval('refresh()', 10000); 	

			setTimeout(function(){
			   window.location.reload(1);
			}, 5000);
	  </script>

	  <ul class="req">
	  	<% console.log(req.segmid)%>
		  <% for(var i = 0; i < 1; i++) {%>
		  		  	<% 
	  	let imagen;
	  	switch(req.eventcode ){
	  	case '0x11':
	  		imagen = 'https://cdn.discordapp.com/attachments/978327508262998036/978327611774230578/cerrado.png';
	  		break;
	  	case '0x12':
	  		imagen = 'https://cdn.discordapp.com/attachments/978327508262998036/978327640366792734/Open_and_ok.png';
	  		break;
	  	case '0xCE':
	  		imagen = 'https://cdn.discordapp.com/attachments/978327508262998036/978327577599041556/abierto.png';
	  		break;
	  	}
	  	%>
	  <tr>
	  	<td><%= i +1%></td>
	  	<td><%= req.segmid %></td>
	    <td><%= req.eventname %></td>
	    <td> <img src=<%=imagen%> alt="Estado"></td>

	  </tr>
	    <% } %>
	</ul>
	</table>