<form action="/register" method="POST">
	<div class="column">

	<div class="card">

	<h2>Registro</h2>
	<div class="section">
		<div class="title">Nombre de Usuario</div>
		<div class="field"><input type="text" id="username" name="username"></div>
	</div>
	<div class="section">
		<div class="title">Contraseña</div>
		<div class="field"><input type="password" id="password" name="password"></div>
	</div>
	<div class="section">
		<div class="title">Nombre</div>
		<div class="field"><input type="text" id="nombre" name="nombre"></div>
	</div>

	<div class="section">
		<div class="title">Apellido</div>
		<div class="field"><input type="text" id="apellido" name="apellido"></div>
	</div>
	<div class="section">
		<div class="title">Número</div>
		<div class="field"><input type="text" id="phone" name="phone"></div>
	</div>
	<div class="section">
		<div class="button"><input type="submit" value="Registrar"></div>
		<div class="button"><a href="/">Login</a></div>
	</div>
	</div>
		</div>


<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<div class="column">
	
	<table style="width:100%">
	  <tr>
	    <th>ID</th>
	    <th>Usuario</th>
	    <th>Editar</th>
	    <th>Eliminar</th>
	  </tr>
	  <ul class="User">
		  <% for(var i = 0; i < User.length; i++) {%>
	  <tr>
	    <td><%= User[i]._id %></td>
	    <td><%= User[i].username %></td>
	    <td><a href="/update/<%= User[i]._id %>" class="btn btn-sm btn-warning"><img src="https://cdn.discordapp.com/attachments/973981565128437800/974316495016431667/upd.png" alt="Update"></a></td>
	    <td><a href="/delete/<%= User[i]._id %>" class="btn btn-sm btn-warning"><img src="https://cdn.discordapp.com/attachments/973981565128437800/974316494798352384/del.png" alt="Delete"></td>
	  </tr>
	    <% } %>
	</ul>
	</table>

</div>
	
</form>