<form action="/usuarios/delete/<%= User._id %>" name="form" method="POST">
<script>

  var r=confirm("¿Eliminar Usuario?");
  if (r==true) {
    form.submit();
    window.alert("Sala eliminada exitosamente.");
}
else{
    window.location.href = "/usuarios/signup";

}
</script>
</form>
                