<div class="card-extra">
	<h2>Ayuda</h2>
	<p></p>
	<h5>Como administrador, usted puede gestionar Salas y Usuarios. 
	En la casilla de la gestión de Salas, añada las que posee la Base de Datos de la
	empresa, las cuáles son:
	<ul>BD1</ul>
	<ul>BD2</ul>
	<ul>BD3</ul>
	<ul>BD4</ul>
	<ul>BD5</ul>
	</h5>
</div>